body {
    background-color: #4c6d61;
}

.pokemon-list,.pokemon-list ul, .list,.search-list {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.pokemon-list li, .list li,.search-list li {
    width: 30%;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    list-style-type: none;
    margin-bottom: 20px;
    color: rgb(187, 195, 208);
    font-weight: bold;
    font-size: 18px;
}

.pokemon-list img, .list img, .search-list img {
    width: 40%; /* 圖片佔滿 li 元素的寬度 */
    height: auto;
    border-radius: 8px; /* 圖片圓角 */
    background: #a6cdaca8;
}

.progress-container {
    width: 100%;
    margin: 20px 0;
    position: fixed;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1500;
}

#progress-bar {
    width: 100%;
    height: 20px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000;
    
}

.logo {
    font-size: 10rem;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;       
    background-clip: text;               
    font-family: 'Impact', 'Arial Black', sans-serif;
    letter-spacing: 6px;
}
.logo0 img{
    width: 360px;
    height: 120px;
}

.pokeball {
    width: 240px;
    display: none;
}

.search {
   
    border-radius: 15px;
    height: 600px;
    display: none;
}

.type {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 60px;
}
.type ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 60px;
}

.type button {
    background: #a6cdaca8;
    border: none;
    border-radius: 15px;
    width: 160px;
    height: 30px;
    margin: 20% 0% 0% 5%;
}

.pokemon-type {
    color: #000;
    font-size: 0.9em;
    margin-top: -5px;
    list-style-type: none;
}
.reset {
    background: #a6cdaca8;
    border: none;
    border-radius: 15px;
    width: 160px;
    height: 40px;
 
    
}

.input,.searchBtn{
    height: 40px;
    border-radius: 15px;
    background: #c0e4d7;
    border: none;
}
.title{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.titleRight{
    position: absolute;
    top: 80%; 
    right: 0;
    height: 100px;
    transform: translateY(-50%);
}
.pokemon-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.detail-card {
    background-color: rgb(90, 97, 93);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.detail-card h2{
    font-size: 36px;
    color: #3e3838;
}
.detail-card ul {
    margin: 0;
    padding: 0;    
}
.detail-card ul li{
    list-style: none;
}
.detail-card img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.detail-card button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #355046;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.types{
    font-size: 24px;
}
.typeName{
    color: #FFF;
    font-size: 24px;
}
.stat{
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    color:#ffffff;
}
.skill{
    font-size: 24px;
}
.skillName{
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.ability{
    font-size: 36px;
    color: #3e3838;
}
.imgback{
    background: #d5e8c2;
    border-radius: 15px;
    
}